.choose-brand
  margin-bottom 60px

.brands-grid
  list-style none
  padding-left 0
  text-align center
  &__cell
    margin 28px
    display inline-block
    cursor pointer

.auto-brand
  text-align center
  &__item
    text-align center
    display inline-block
    & img
      vertical-align middle


@media screen and (min-width: 768px) and (max-width: 960px)
  .brands-grid
    &__cell
      margin 25px