@require '../avko.common/sprite'
@require '../avko.common/constants'

.consult
  &__tagline
    color #ffffff
    font-family GothaProNarBol
    font-size 3.2em
    max-width 960px
    text-transform uppercase
    &--addition
      font-size 2em
      font-family GothaProLig
      color #fff
      text-transform uppercase

@media screen and (max-width: 768px) and (min-width: 320px), screen and (max-width: 320px)
  .consult
    &__tagline
      padding-top 4%
      font-size 1.5em
      &--addition
        font-size 0.8em
        padding-top 1.5%
    &__button
      font-size .8em
      margin-top 4%

@media screen and (max-width: 960px) and (min-width: 768px)
  .consult
    &__tagline
      font-size 2em
      margin-top 1%
      &--addition
        font-size 1.1em
        margin-top 1.3%
    &__button
      font-size 13px
      margin-top 3%

@media screen and (min-width: 960px) and (max-width: 1280px)
  .consult
    &__tagline
      font-size 2.8em
      margin-top 1%
      &--addition
        font-size 1.5em
        margin-top 1.5%
    &__button
      margin-top 2%

@media screen and (min-width: 1280px) and (max-width: 1600px)
  .consult
    &__tagline
      margin-top 5%
      &--addition
        margin-top 4%
    &__button
      margin-top 5%

@media screen and (min-width: 1600px)
  .consult
    &__tagline
      margin-top 7%
      &--addition
        margin-top 5%
    &__button
      margin-top 6%
