@require '../avko.common/sprite'
@require '../avko.common/constants'

.delivery-announce
  position relative
  width 100%
  height 682px
  background-image url(../pictures/delivery-background.png)
  background-position center
  background-size contain
  background-repeat no-repeat
  &__content
    width 420px
    height 290px
    position absolute
    margin auto
    top -20%
    bottom 0
    left 500px
    right 0
  &__title
    font-family GothaProBol
    font-size 3em
    text-transform uppercase
    line-height 45px
  &__description
    font-family MuseoSansCyrl300
    margin 40px 0
    color avkoGrayColor
  &__button
    padding 4% 6% !important


@media screen and (max-width: 640px)
  .delivery-announce
    height 250px
    margin-top 50px
    background-image none
    background-color avkoGrayBackground
    &__content
      width 100%
      height 180px
      top -35%
      left 0
      right 0
      margin auto
    &__title
      line-height 35px
      font-size 1.5em
      text-align center
      background-color #ffffff
      padding-bottom 5px
    &__description
      text-align center
      margin-top 40px
    &__button
      position absolute
      right 0
      left 0
      width 240px
      margin auto
      bottom -16%
      padding 1.5% 3% !important

@media screen and (max-width: 768px) and (min-width: 640px)
  .delivery-announce
    height 370px
    &__content
      width 100%
      height 180px
      top -35%
      left 0
      right 0
      margin auto
    &__title
      line-height 35px
      font-size 1.5em
      text-align center
    &__description
      float right
      text-align right
      width 260px
      margin-right 5%
      margin-top 40px
    &__button
      position absolute
      right 5%
      bottom -16%
      padding 1.5% 3% !important

@media screen and (min-width: 768px) and (max-width: 960px)
  .delivery-announce
    height 430px
    &__content
      width 380px
      height 180px
      top -15%
      left 40%
    &__title
      line-height 35px
      font-size 2em
    &__description
      margin 20px 0
    &__button
      padding 3% 5% !important


@media screen and (min-width: 960px) and (max-width: 1280px)
  .delivery-announce
    height 520px
    &__content
      width 380px
      height 210px
      top -15%
      left 40%
    &__title
      line-height 35px
      font-size 2.3em
    &__description
      margin 20px 0

@media screen and (min-width: 1280px) and (max-width: 1600px)
  .delivery-announce
    height 580px
    &__content
      width 400px
      height 330px
      top -10%