@require '../avko.common/sprite'
@require '../avko.common/constants'

.questions
  text-align center
  margin-bottom 80px
  &__title
    margin-bottom 80px
  &__call-us
    text-transform uppercase
    font-family GothaProBol
    font-size 2em
  &__phone-number
    margin-top 20px
    text-transform uppercase
    font-family GothaProBol
    font-size 2.5em
  &__note
    font-family MuseoSansCyrl300
    color avkoGrayColor


@media screen and (min-width: 960px) and (max-width: 1280px)
  .questions
    &__title
      margin-bottom 50px
    &__call-us
      font-size 2.3em

@media screen and (min-width: 768px) and (max-width: 960px)
  .questions
    margin-bottom 40px
    &__title
      margin-bottom 40px
    &__call-us
      font-size 2.1em

@media screen and (max-width: 768px) and (min-width: 640px), screen and (max-width: 640px)
  .questions
    margin-bottom 40px
    margin-top 40px
    &__title
      margin-bottom 40px
    &__call-us
      font-size 1.5em
    &__phone-number
      margin-top 10px
      font-size 1.8em