@require '../avko.common/sprite'
@require '../avko.common/constants'

.leave-your-request
  height 300px
  padding-top 100px
  &__offer
    font-family GothaProBol
    text-transform uppercase
    text-align center
    font-size 1.5em

#RequestForm
  margin-top 40px
  text-align center

.request
  &__user-name
    line-height 40px
    border none
    outline none
    text-indent 5px
    font-size 1.5em
    width 45%
    max-width 350px
  &__phone-number
    line-height 40px
    border none
    outline none
    text-indent 5px
    font-size 1.5em
    width 45%
    max-width 350px
  &__send-button
    padding 0 4% !important
    margin-top 40px
    line-height 50px
    height 50px

@media screen and (max-width: 640px) and (min-width: 320px), screen and (max-width: 320px)
  .leave-your-request
    height 300px
    padding-top 25px
  .request
    &__user-name
      line-height 35px
      display block
      font-size 1.2em
      width 100%
    &__phone-number
      line-height 35px
      display block
      margin-top 5px
      font-size 1.2em
      width 100%
    &__send-button
      line-height 35px
      height 35px
      max-width 180px
      margin-top 20px
  #RequestForm
    width 250px
    margin 0 auto
    margin-top 20px

@media screen and (max-width: 768px) and (min-width: 640px)
  .leave-your-request
    height 250px
    padding-top 50px

@media screen and (min-width: 768px) and (max-width: 960px)
  .leave-your-request
    height 250px
    padding-top 50px


@media screen and (min-width: 960px) and (max-width: 1280px)
  .leave-your-request
    height 250px
    padding-top 50px
