@require '../avko.common/sprite'
@require '../avko.common/constants'

.reviews
  margin 80px 0
  &__list
    text-align center
    margin-top 50px

.review-item
  display inline-block
  width 25%
  margin 0 20px
  font-family MuseoSansCyrl300
  &__text
    height 80px
    margin 30px 0
    text-align center
  &__author-photo
    display inline-block
    border-radius 50%
  &__author-name
    margin-top 10px
  &__author-info
    color avkoGrayColor


@media screen and (min-width: 768px) and (max-width: 960px)
  .review-item
    &__photo
      width 180px
      height auto

@media screen and (max-width: 768px)
  .reviews
    display none