@require 'sprite'
@require 'constants'

.avko-button
  &--light
    border: 2px solid #828282
    line-height 25px
    color #fff
    font-family GothaProLig
    font-size 12px
    border-radius 5px
    padding 5px 30px
    text-transform uppercase
    cursor pointer
    &:focus
      outline 0 !important
  &--red
    display inline-block
    min-width 200px
    background-color avkoRedColor
    font-family GothaProNarBol
    font-size 14px
    color #ffffff
    text-transform uppercase
    padding 2% 5%
    border-radius 50px
    cursor pointer
    &:focus
      outline 0 !important
  &--red-rectangular
    display inline-block
    min-width 200px
    background-color avkoRedColor
    font-family GothaProNarBol
    border none
    font-size 14px
    color #ffffff
    text-transform uppercase
    padding 3% 4%
    cursor pointer
    &:focus
      outline 0 !important
  &--transparent-red-bordered
    background transparent
    border-radius 50px
    border 3px solid avkoRedColor
    font-family GothaProNarBol
    cursor pointer
    text-transform uppercase
    padding 2% 5%
    &:focus
      outline 0 !important
  &--x
    sprite($sprite_cross)

