@require 'sprite'
@require 'constants'

*
  margin 0

html
body
  height auto
  width 100%
  min-width 960px

.avko
  &-page-wrap
    min-height 100%
    margin-bottom -430px
  &-page-wrap:after
    content ""
    display block
  &-page-wrap:after
    height 430px

.avko
  &-center-keeper
    width 960px
    margin 0 auto
  &-input-label
    color avkoGrayColor
    font-family MuseoSansCyrl300

.text--centered
  text-align center

@media screen and (max-width: 640px) and (min-width: 320px), screen and (max-width: 320px)
  html
  body
    min-width 320px
  .avko
    &-center-keeper
      width 320px
    &-page-wrap
      margin-bottom -250px !important
    &-page-wrap:after
      height 250px !important

@media screen and (max-width: 768px) and (min-width: 640px)
  html
  body
    min-width 640px
  .avko
    &-center-keeper
      width 640px
    &-page-wrap
      margin-bottom -250px !important
    &-page-wrap:after
      height 250px !important

@media screen and (max-width: 960px) and (min-width: 768px)
  html
  body
    min-width 768px
  .avko
    &-center-keeper
      width 768px