@require 'sprite'
@require 'constants'

.section
  &--red-bordered
    border-top 5px solid avkoRedColor
    position relative
    &__header
      background-color #ffffff
    &__title
      font-family GothaProBol
      text-transform uppercase
      text-align center
      font-size 2.8em
      margin-top -30px
    &__description
      text-align center
      font-family MuseoSansCyrl300
      color avkoExplanatoryLabel
      margin-top 10px
  &--gray
    background-color #ebebeb
  &--red-overlay
    width 100%
    height 100%
    background-color avkoRedColor
    opacity 0.95
    &__title
      font-size 2.8em
  &--hidden-container
    display none


@media screen and (min-width: 960px) and (max-width: 1280px)
  .section
    &--red-bordered
      &__title
        font-size 2.6em
    &--red-overlay
      &__title
        font-size 2.6em

@media screen and (min-width: 768px) and (max-width: 960px)
  .section
    &--red-bordered
      &__title
        font-size 2.1em
        margin-top -20px
    &--red-overlay
      &__title
        font-size 2.1em

@media screen and (min-width: 640px) and (max-width: 768px)
  .section
    &--red-bordered
      &__title
        font-size 1.5em !important
        margin-top -15px
    &--red-overlay
      &__title
        font-size 1.5em !important
        margin-top 0

@media screen and (min-width: 320px) and (max-width: 640px), screen and (max-width: 320px)
  .section
    &--red-bordered
      &__title
        font-size 1.5em !important
        margin-top -15px
    &--red-overlay
      &__title
        font-size 1.5em !important
        margin-top 0