@require '../avko.common/sprite'
@require '../avko.common/constants'

.items-list
  margin 80px 0


.choose-model
  &__title
    font-family GothaProBol
    font-size 3em
    text-transform uppercase
  &__button
    margin-top 20px
    display inline-block
    cursor pointer
    & span
      display inline-block
      float left
      font-family MuseoSansCyrl500
      border-bottom 1px dotted


.show-more-models
  sprite($sprite_plus_in_circle)
  display inline-block
  float left
  margin-right 5px

.banner
  background url("../../pictures/banner-background.png")
  background-repeat no-repeat
  width 964px
  height 159px
  margin 20px auto
  text-align center
  &__title
    font-family GothaProBol
    font-size 2em
    color #ffffff
    text-transform uppercase
    padding-top 20px
    padding-bottom 10px
  &__text
    color #ffffff
    font-family MuseoSansCyrl300

.first-column
  width 625px

.item
  clear both
  &__header
    border-bottom 1px solid #ccc
  &__title
    display inline-block
    font-family MuseoSansCyrl700
    font-size 2em
    line-height 60px
  &__article
    display inline-block
    margin-left 20px
    font-family MuseoSansCyrl300
    color avkoGrayColor
    line-height 60px
    font-size .8em
  &__features
    list-style none
    padding-left 0
    line-height 70px
    height 70px
    & li
      display inline-block
      & + li
        margin-left 40px
      & p
        display inline-block
        float left
        font-family MuseoSansCyrl500
        margin-left 15px
  &__common-info
    overflow hidden
    clear both
  &__photos
    height 525px
    float left
  &__buy-bar
    float left
    margin-left 25px
    background-color #ebebeb
    width 300px
    height 525px

.icon
  &-red-timer
    sprite($sprite_red_timer)
    display inline-block
    margin-top 15px
    float left
  &-guarantee
    sprite($sprite_guarantee)
    display inline-block
    margin-top 15px
    float left
  &-tick-in-circle
    sprite($sprite_tick_in_circle)
    display inline-block
    margin-top 20px
    float left

.buy-bar
  &__price
    font-family GothaProBol
    font-size 2.2em
    text-transform uppercase
    margin-top 50px
  &__sales
    font-family MuseoSansCyrl300
    margin 20px 0
    display inline-block
    & label
      color avkoGrayColor
  &__button
    width 150px
    margin 0 auto
    & + &
      margin-top 20px
  &__delivery-section
    margin-top 30px
    width 100%
    border-top 1px solid #ccc

.delivery-section
  overflow hidden
  &__icon
    display inline-block
    sprite($sprite_delivery_car)
    margin-top 20px
  &__info
    font-family MuseoSansCyrl300
    margin-top 10px
    color avkoGrayColor
    & a
      text-decoration underline
      color avkoGrayColor

.selected-photo
  width 620px
  height 410px
