@require '../sprite'
@require '../constants'

.choose-brand-and-model
  &__content
    text-align left

.model-list
  &__item
    display block


@supports (column-count 2)
  .modal-models-content
    &__list
      border-bottom 1px solid #ccc
      padding 10px 0
      column-count 2
    & .avko-input-label
      margin-bottom 10px
    & .ui-selectmenu-button
      margin-top 5px
      margin-bottom 20px

