@require '../sprite'
@require '../constants'

.modal-window
  background-color #FFFFFF
  padding 40px 20px
  border-radius 2px
  position relative
  overflow hidden
  text-align center
  box-shadow 0 0 20px #000
  &__title
    font-family MuseoSansCyrl700
    font-size 27px
  &__close
    position absolute
    top 10px
    right 10px
    cursor pointer
  &__description
    color avkoExplanatoryLabel
    font-family MuseoSansCyrl300
    margin-top 10px
  &__content
    margin-top 30px
  &__button
    &--centered
      margin-top 30px
      display inline-block
      text-align center
    &--right
      margin-top 20px
      display inline-block
      text-align center
      float right